
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class=" card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"></i> Vozaci</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class=" card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i> Trke</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class=" card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i> Rang Liste</div>
            </div>
        </div>
    </div>
</div>
<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>